body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.flexible-container {
    display: flex;
}
.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1 {
    font-size: 50px;
}
.half-width img {
    margin-top: 20px;
    width: 80%;
}
#myname {
    color: #ffa500;
}
.link-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    color: white;
}

.dream-big {
    margin-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p {
    padding-right: 150px;
}
.dream-big a {
    margin-top: 25px;
}

.experiences {
    margin-top: 100px;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences h1 {
    margin-left: 5%;
    font-size: 50px;
}
.experience-item {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    padding: 2%;
    box-shadow: 10px 10px 20px lightgray;
}
.experience-item h2 {
    font-size: 35px;
}
.experience-item h3 {
    color: orange;
}
#full-web-exp {
    border-left: 7px solid tomato;
}
#baby-web-exp {
    border-left: 7px solid orange;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
